
/*

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--body_background);
  text-align: center;
  padding: 2px 0;
  justify-content: center;
  align-items: center;
}
 */