.addUser {
    width: 25%;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .inputGroup label {
    margin: top 10px;
    font-weight: bold;
}

.addUserForm .inputGroup input {
    margin-top: 5px;
    padding: 7px;
}

.inputGroup button {
    margin-top: 15px;
}

.login {
    margin-top: 30px;
    text-align: center;
}

.login .btn.btn-primary {
    width: 50%;
}

.addUser h3 {
    text-align: center;
    font-weight: bold;
}

.login p {
    font-weight: bold;
}